/* General CSS */
body {
    font-family: 'Montserrat';
    margin: 0;
  }
  
  a {
    text-decoration: none;
    background: #9d0000;
    padding: 20px;
    align-items: center;
  }

  .topnavm{
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:white;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  nav {
    background: #9d0000;
    padding: .5em;
    height: 50px;
  }
  
  a {
    color: white;
    font-weight: bold;
    padding: 10px;

}
  
  main {
    width: 75%;
    margin: 5em auto;
   
  }
  
  img {
    padding-top: 20px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 1.8em;
    display: block;
  }
  
  .logo { 
    display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: right;
  
  }
  .gsweets {
    font-family: 'Pacifico', cursive;
    text-align: center;
  }

  .gsweetsSub {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1.5em;
  }

  .footer {
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .footerInfo {
    padding: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  /* About page CSS */
  .name {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
  }

/* Gallary page CSS */
   .img-container {
    float: left;
    width: 25%;
    padding: 5px; 
  }

  .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

  .box {
    height: 400px;
    float: left;
    width: 45%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 25px; /* if you want space between the images */
  }

/* Google fonts 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Pacifico', cursive;
*/

 

  /* Gallery CSS */
  /* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 6px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {

  .column {
    width: 50%;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.8em;
    display: block;
    text-align: justify;

  }
  img {
    padding-top: 5px;
    height: 100%;
    display: block;
  }
  
  .box {
    float: none;
    width: 100%; /* three boxes (use 25% for four, and 50% for two, etc) */
    height: 100%;
    }

    a {
      text-decoration: none;
      background: rgb(255, 0, 0);
      padding: 5px;
      align-items: center;
    }

    .gsweets {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 1.5em;
    }
  
    .gsweetsSub {
      font-family: 'Pacifico', cursive;
      text-align: center;
      font-size: 1em;
    }




}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .homeBody {
    background-image: url("/assets/images/italiansaltedcaramelcupsMobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100%;
  }

    p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.8em;
    display: block;
    text-align: justify;
    color: #dbd6d1;
    padding: 10px;
    
  }


  .name {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #dbd6d1;
}

img {
  padding-top: 5px;
  height: 100%;
  display: block;
}

main {
  width: 100%;
  margin: 5em auto;
  margin-right: 5px;
}

.box {
  float: none;
  width: 100%; /* three boxes (use 25% for four, and 50% for two, etc) */
  height: 100%;
  }


  .nav {
    display: none;
  }
a {
  display: none;
}
  .gsweets {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #dbd6d1;
  }

  .gsweetsSub {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: .75em;
    color: #dbd6d1;
  }


  .column {
    width: 100%;
  }

  a {
    text-decoration: none;
    background: black;
    padding: 20px;
    align-items: center;
    font-size: 50%;
  }
  
 
  nav {
    background: black;
    padding: .5em;
  }
}

 /* swup for transition */
  
 .transition-fade {
  opacity: 1;
  transition: .4s;
  transform: translateX(0);
  transform-origin: left;
}


html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}


/* transform left */
.transition-left {
  transition: .4s;
  transform: translateX(0);
}

html.is-animating .transition-left {
  opacity: 0;
  transform: translateX(-100%);
}


/* button transition */
.transition-swipe {
  transition: 900ms;
  transform: translateY(0);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9d0000;
  /* background-image: url("/assets/images/italiansaltedcaramelcupsCover.jpg"); */
  left: 0;
  top: 0;
  transform: scale(0);
  transform-origin: right;
}

.transition-wipe {
  transition: .7s cubic-bezier(0, 0, .58, 1);
  transform: scaleX(0);
}

html.is-animating .transition-wipe {
  transform: scaleX(1);
}